.shopList-wrap{
  margin-top: 30px;
}

th{
  padding: 5px 10px;
  border-bottom: 1px solid;
  width: 25%;
}

td{
  padding:5px 10px;
  border-bottom: 1px solid;
}

table{
  width: 100%;
}

.block{
  display: block;
}

.bottom-step{
  border-bottom: none;
  height:20px;
}

.flex-end{
  display: flex;
  justify-content: end;
}

.shop-btn{
  width:4rem;
  height:2rem;
}

.text-center{
  vertical-align:middle;
}