a{
  text-decoration: none;
  color: #FFFFFF;
}
h1,
h2 {
  text-align:none;
}



/*--------------枠-------------*/
body {
  background-color: #EEEEEE;
}

.container{
  width: 80vw;
  margin:30px auto;
}

.w25 {
  width: 25%
}
.w30{
  width:30%;
}
.w40{
  width:40%;
}
.w45{
  width:45%;
}
.w50{
  width:50%;
}
.w60{
  width: 60%;
}
.w80 {
  width: 80%;
}
.w90{
  width:90%;
}
.w100{
  width:100% ;
}
.w50px{
  width:50px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.flex{
  display: flex;
}

.search{
  width:50%;
  height:40px;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 2px;
  box-shadow: 2px 2px 3px 2px #aaa;
  display: flex;
  justify-content: flex-start;
  padding: 5px;
}

.select-css{
  -webkit-appearance: none;
  appearance: none;
  border:none;
  outline: none;
  padding-right:40px;
  margin-left:10px;
  font-size: small;
  border-right:#ECECEC 1.5px solid;
  background-image: url('../jpg/appearance.jpg');
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 15px 13px;
}

.search-icon{
  content: "";
  outline: none;
  border:none;
  width:25px;
  background: transparent;
  background-image: url('../jpg/search.jpg');
  background-position: left 0px center;
  background-repeat: no-repeat;
  background-size: 25px;
  margin-left: 10px;
  cursor: pointer;
}
.search-text{
  max-width: 100%;
  border: none;
  outline: none;
  padding-left: 5px;
}

.select-wrap{
  position: relative;
  margin:auto 0px;
}

.shop-index-wrap{
  margin-top:30px;
  flex-wrap:wrap; 
  display:flex;
  justify-content: flex-start;
}


.card {
  width: 23.5%;
  height: auto;
  margin-bottom: 30px;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 3px 2px #aaa;
  border-radius: 10px;
  margin-right: 2%;
}
.card:nth-child(4n){
  margin-right: 0px;
}

.card_w50 {
  width: 48%;
  height: auto;
  margin-bottom: 30px;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 3px 2px #aaa;
  border-radius: 10px;
}

.card_img img{
  width: 100%;
  height:50%;
  object-fit: cover;
  border-radius: 10px 10px 0 0 ;
}

.card_content {
  padding: 15px 25px;
}

.blue-btn{
  font-size:14px;
  color: #fff;
  padding: 5px;
  background-color: #305DFF;
  border-radius: 5px;
  border: none;
  transition: 0.2s;
}
.blue-btn:hover{
  letter-spacing: 0.1em;
  transition: 0.2s;
}

.card_content-ttl {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;

}

.card_content_tag {
  font-size: small;
}

.card_content_tag_item {
  display: inline-block;
  font-size: 18px;
}

.card_content_tag_date {
  margin-left: 20px;
}

.detail-wrap{
  margin-top: -40px;
  width:45%;
  height:90vh;
}

.reservation-wrap{
  background-color: #4D7FFF;
  border-radius: 10px;
  margin-right: 0;
}

.reserve-wrap{
  margin-top:-40px;
  width: 45%;
  background-color: #305DFF;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 2px #aaa;
  position: relative;
}

.reserves-wrap {
  background-color: #325CFF;
  border-radius: 10px;
  padding:20px 20px 10px 20px;
}

.shop-image img{
  width: 100%;
}

.login-wrap{
  margin: 100px auto auto auto;
  width: 40%;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 2px #aaa;
}

.login-back{
  background-color: #305DFF;
  border-radius: 5px 5px 0 0;
  line-height:40px;
  padding-left: 20px;
}
input[type=name],
input[type=email],
input[type=password] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 3px;
  width: 100%;
  color: inherit;
  font-family: inherit;
  background-color: transparent;
  background-image: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid;
}

input[type=name]:focus,
input[type=email]:focus,
input[type=password]:focus {
  outline: none;
}

.reserve-date{
  border-radius: 5px;
  outline: none;
  border: none;
  padding:5px;
}

.reserve-time {
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 5px;
  margin-right: 0px;
  background-image: url('../jpg/appearance.jpg');
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 15px 13px;
  width:98%;
}
.reserve-time::-webkit-calendar-picker-indicator {
  background: none;
}

.reserve-number {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 5px;
  margin-right: 0px;
  background-image: url('../jpg/appearance.jpg');
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 15px 13px;
}

.reserve-form{
  width:90%;
  margin: 20px auto;
}

.Favorite_shop {
  margin-top: 10px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.Favorite_shop:after {
  content: "";
  display: block;
  width: 48%;
  height: 0;
}

.input_blue{
  color:#fff;
  border: none;
  background: none;
  outline: none;
  width: 75%;
}
.input_blue:focus{
border-bottom:1px solid #fff;
}



/*--------------テキスト-------------*/
.title{
  font-size: 30px;
  color: #305DFF;
  font-family:'Segoe UI';
}
.shop-title{
  font-size: x-large;
}
.small{
  font-size: small;
}
.medium{
  font-size: medium;
}
.f-large{
  font-size: large;
}
.f-c-white{
  color:#FFFFFF;
}
.ls{
  letter-spacing:0.1em;
}
.user_name{
  margin-top:50px;
  font-size: x-large;
  text-align: center;
}
.bold{
  font-weight: bold;
}


/*--------------位置-------------*/
.m-auto{
  margin-right: auto;
  margin-left: auto;
}
.text-center{
  text-align: center;
}
.lh40{
line-height: 40px;
}
.lh30 {
  line-height: 30px;
}
.lh25 {
  line-height: 25px;
}
.lh20{
  line-height:20px;
}
.mt10 {
  margin-top: 10px;
}
.mt15{
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt40{
  margin-top:40px;
}
.mt80{
  margin-top: 80px;
}
.mt100{
  margin-top:100px;
}

.ml0{
  margin-left:0px;
}
.ml10 {
  margin-left: 10px;
}
.ml20{
  margin-left: 20px;
}
.mr10{
  margin-right:10px;
}
.mr-10{
  margin-right: -10px;
}

.p10 {
  padding: 10px;
}
.p20{
  padding:20px;
}
.plr10{
  padding-left:10px;
  padding-right:10px;
}
.pl20{
  padding-left:20px;
}

.pt5{
  padding-top:5px;
}
.pt60{
  padding-top:60px;
}
.pb60 {
  padding-bottom: 60px;
}

.ptb10{
  padding-top: 10px;
  padding-bottom: 10px;
}

.justify-between{
  justify-content: space-between;
}

.justify-end {
  display: flex;
  justify-content:flex-end;
}

.icon {
  width: 30px;
  margin-right: 10px;
}




/*--------------ボタン-------------*/

.bg-red{
  background: red;
}

.heart {
  width: 30px;
  height: 30px;
  position: relative;
  margin-top:20px;
  
}
.heart::before,
.heart::after {
  content: "";
  width: 50%;
  height: 80%;
  background: #EEEEEE;
  border-radius: 15px 15px 0 0;
  display: block;
  position: absolute;
}

.heart::before {
  transform: rotate(-45deg);
  left: 14%;
}

.heart::after {
  transform: rotate(45deg);
  right: 14%;
}

.heart-bg-red{
  width: 30px;
  height: 30px;
  position: relative;
  margin-top: 20px;

}

.heart-bg-red::before,
.heart-bg-red::after {
  content: "";
  width: 50%;
  height: 80%;
  background: red;
  border-radius: 15px 15px 0 0;
  display: block;
  position: absolute;
}

.heart-bg-red::before {
  transform: rotate(-45deg);
  left: 14%;
}

.heart-bg-red::after {
  transform: rotate(45deg);
  right: 14%;
}

.back-btn {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #FFFFFF;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  box-shadow: 2px 2px 3px 2px #aaa;
}
.back-btn:after{
  content: "<";
  font-weight: bold;
  font-size: x-large;
  position: absolute;
  left:8px;
  transform: translateY(-45%);
}

.reserve-btn{
  position: absolute;
  bottom:0;
  width: 100%;
  height:50px;
  border: none;
  border-radius: 0 0 10px 10px;
  background-color: #0538FF;
  color:#FFFFFF;
  font-size: large;
}

.clock-icon{
  content: "";
  width:25px;
  height:25px;
}

.reserve-delete-icon{
  content: "";
  background-image: url(../jpg/x.jpg);
  width: 25px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  border: none;
}
.reserve-delete{
  width:100%;
  height:100%;
  opacity: 0;
}

.change-btn{
  background: none;
  color:#fff;
  border:2px solid #fff;
  border-radius: 5px;
  font-size: small;
}
.change-btn:hover{
  font-weight: bold;
}